body {
    padding-top: 60px;
     
}

.jumbotron{
    text-align: center;
    color: orange;
    background-image: url(https://images.unsplash.com/photo-1579781354171-45f67f0d8f18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80);
   
    
}

footer.branding {
   /* border-top: 2px solid #ccc;*/
   /* margin-top: 20px;*/
    padding-top: 500px;
    text-align: center;
}