<h1>Welcome to Clinical Microbiology</h1>
<p>
Medical microbiology (Clinical Microbiology), the large subset of microbiology that is applied to medicine, is a branch of medical science concerned with the prevention, diagnosis and treatment of infectious diseases. 
It all started with discovery of microbes ("animalcules") by Anton van Leeuwenhock in 1674. Now we know that microorganisms can be found in, on and around us that can be beneficial to us and at the same time 
can cause serious human diseases. Microbes can be divided into <strong>bacteria, virsuses, fungi and parasites</strong>.
</p>
<p><strong>Click on the links above</strong> to read about various clinically important bacteria. </p>

<h6>Work in progress..., keep checking back for updates.</h6>